
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista de Sucursales
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Sucursal" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Telefono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CodigoSucursal</td>
                        <td>@item.Nombre</td>
                        <td>@item.Direccion</td>
                        <td>@item.Telefon</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Sucursal" class="btn btn-primary btn-sm" asp-route-CodigoSucursal="@item.CodigoSucursal">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Sucursal" class="btn btn-danger btn-sm" asp-route-CodigoSucursal="@item.CodigoSucursal">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>

