
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Lista de hoteles
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Hotel" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Telefono</th>
                    <th>Plazas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.COD_HOTEL</td>
                        <td>@item.NOMBRE</td>
                        <td>@item.DIRECCION</td>
                        <td>@item.CIUDAD</td>
                        <td>@item.TELEFONO</td>
                        <td>@item.NUM_PLAZAS_DISPONIBLES</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Hotel" class="btn btn-primary btn-sm" asp-route-COD_HOTEL="@item.COD_HOTEL">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Hotel" class="btn btn-danger btn-sm" asp-route-COD_HOTEL="@item.COD_HOTEL">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>

